.drop-area {
    display: flex;
    border: 2px dashed #ccc;
    border-radius: 20px;
    width: 550px;
    margin: 20px auto;
    padding: 5px;
    flex-direction: column;
    justify-content: center;

    & p {
        margin-bottom: 30px;
    }

    &-button {
        display: inline-block;
        padding: 10px;
        margin: auto;
        background: #ccc;
        cursor: pointer;
        border-radius: 10px;
        border: 1px solid #120c0c;
        background-color: #a35353;
        color: #fff;
    }

    & #lbl-foto {
        display: none;
    }

    &-image img {
        width: 150px;
        margin-top: 10px;
        margin-right: 10px;
        vertical-align: middle;
    }
}
