.section-cards {
    background-color: white;
    padding: 1rem;
}

.cards-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 2rem;
}
.subtitulo-index {
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
}