.card {
    margin-top: 20px;
    margin-bottom: 10px;
    min-width: 450px;
    max-width: 450px;
    height: 200px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    overflow: hidden;
    box-shadow: 0px 7px 8px 0px rgba(172, 28, 28, 0.9);
    transition: transform .1s;
    border-bottom-right-radius: 90px;
    border-bottom-left-radius: 90px;
    

    &:hover,
    &:focus {
        transform: scale(1.03) skew(0.5deg);
        transform-origin: bottom;
        box-shadow: 0px 10px 10px 0px rgba(144, 26, 26, 0.5);
    }

    &__article {
        display: flex;
    }

    &__image {
        object-fit: cover;
        width:100%;
        height: 100%;
        cursor: pointer;
        border: 2px solid rgb(171, 16, 16);
        border-radius: 25px;
    }

    &:nth-child(1) {
        background-image: linear-gradient(to top, #b1a3a3 0%, #d7d7d7 100%);
    }

    &:nth-child(2) {
        background-image: linear-gradient(to top, #b1a3a3 0%, #d7d7d7 100%);
    }
    
    &:nth-child(3) {
        background-image: linear-gradient(to top, #b1a3a3 0%, #d7d7d7 100%);
    }

    &:nth-child(4) {
        background-image: linear-gradient(to top, #b1a3a3 0%, #d7d7d7 100%);
    }

    &:nth-child(5) {
        background-image: linear-gradient(to top, #b1a3a3 0%, #d7d7d7 100%);
    }

    &:nth-child(6) {
        background-image: linear-gradient(to top, #b1a3a3 0%, #d7d7d7 100%);
    }
    &:nth-child(7) {
        background-image: linear-gradient(to top, #b1a3a3 0%, #d7d7d7 100%);
    }
    &:nth-child(8) {
        background-image: linear-gradient(to top, #b1a3a3 0%, #d7d7d7 100%);
    }
    &:nth-child(9) {
        background-image: linear-gradient(to top, #b1a3a3 0%, #d7d7d7 100%);
    }
    &:nth-child(10) {
        background-image: linear-gradient(to top, #b1a3a3 0%, #d7d7d7 100%);
    }
    &:nth-child(11) {
        background-image: linear-gradient(to top, #b1a3a3 0%, #d7d7d7 100%);
    }
    &:nth-child(12) {
        background-image: linear-gradient(to top, #b1a3a3 0%, #d7d7d7 100%);
    }

    &__image-container {
        height: 200px;
        background-color: transparent;
        overflow: hidden;
        clip-path: circle(50%)
    }

    &:hover &__image-container,
    &:focus &__image-container {
        clip-path: circle(50%)
    }

    /* responsive -> 768px */

    @media screen and (min-width: 768px) {
        & {
            width: 200px;
            max-width: 300px;
            height: 400px;
        }

        &__article {
            flex-direction: column;
        }

        & &__image-container {
            clip-path: circle(50%)
        }

        &:hover &__image-container,
        &:focus &__image-container {
            clip-path: polygon(0 0, 100% 0, 100% 200px, 0 200px);
        }
    }

    &__price {
        display: flex;
        justify-content: right;
        font-size: 1.2rem;
        margin-left: 50px;
        margin-right: 50px;
    }

    &__heading {
        font-size: 20px;
        text-align: center;
        margin-top: 1px;
    }

    &__button {
        cursor: pointer;
        width: 300px;
        height: 30px;
        margin-left: 15%;
        margin-top: 4%;
        background-color: #333;
        border: none;
        color: #ffffff;
        text-transform:uppercase;
        font-size: 1rem;
        border-radius: 10px;
        box-shadow: 0px 3px 4px 0px rgba(0 ,0 ,0 ,0.5)
    }

    &:hover &__button,
    &:focus &__button {
        background-color: #541f1f;
        color: #ffffff;
    }
    
}


p {
    text-align: center;
    margin-top: 10px;
}

h1 {
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
}