.footer {
    display: flex;
    /* flex-direction: column; */
    background-color: #333233;
    color: white;
    justify-content: center;
}


.footer-content {
    padding: 1rem;
    margin-top: 5px;
    margin-bottom: 0px;
    /* display: flex; */
    align-self: end;
    
    
    &__payments {
        display: flex;
        justify-content: space-between;
        width: 3rem;
        height: 2rem;
        gap: 30px;
     /*    justify-content: right; */
        
    }

    &__p {
        display: flex;
        font-size: 12px;
    }
    
}