table.tabla-carrito {
    border-collapse: collapse;
    width: 95%;
    margin: 1rem auto;
    

    th, td {
        border: 2px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #793939;
        color: #fff;
        text-align: center;
        border: 1px solid black
    }

    td {
        text-align: center;
    }

}
.botonesCarrito {
    padding: 4px;
    margin: 0.5rem;
    background-color: #888;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 10px;
    height: 30px;
}

.botonesCarrito:hover {
    padding: 4px;
    margin: 0.5rem;
    background-color: #712c2c;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 10px;
    height: 30px;
}

.botones {
    text-align: center;
}
